/* src/Components/Auth.css */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  color:black;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-container input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px 20px;
  border: none;
  background-color: #617c9a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #43536c;
}
